
// main.less
// for magnetproject.us
// by f03lipe

@import "macros.less";
@import "font.css";

.tk-museo { font-family: museo, "Open Sans", Arial; }
.tk-museo-sans { font-family: museo-sans, "Open Sans", Arial; }

@color0: #009B95;
@color1: #FB202D;
@color2: #00C90D;
@color3: #FF7100;


body {
	background: #333 fixed url('../img/dark_fish_skin.png') repeat top left;
	font-family: museo-sans, Montserrat, "Open Sans", sans-serif;
	overflow-x: hidden; // for slider
	color: white;
}


h1,h2,h3,h4,h5,h6 {
	font-family: Montserrat, museo;
}


a:hover,a:link,a:active {
	color: #4AE;
	text-decoration: none;
}


// HEADER
// #header, canvas

canvas {
	position: fixed;
	width: 100%;
	height: 100%;
}

#header
{
	color: white;

	.tc-banner {
		position: fixed;
		top: 10px;
		left: 10px;
		
		img {
			position: relative;
			z-index: 1;
			vertical-align: middle;
		}

		.box {
			position: relative;
			z-index: 0;
			padding: 10px 15px;
			display: inline-block;
			margin-left: -10px;
			font-family: Montserrat;
			font-weight: bosld;
			font-size: 12px;
			line-height: 15px;
			background: rgba(0,0,0,.5);
			vertical-align: middle;
			opacity: 0;
			cursor: default;
			a { font-weight: bold; }
		}
		cursor: pointer;

		&:hover {
			opacity: 1;
			.box { opacity: 1; }
		}
	}

	.social-btns {
		position: fixed;
		top: 15px;
		right: 15px;

		img {
			display: none;
			position: relative;
			cursor: pointer !important;
			border-radius: 20px;
			background: white;
			margin-left: 3px;
			boxs-shadow: 0 0 5px rgba(0,0,0,1);
			outline: none !important;
		}

		img:active {
			top: 2px;
		}
	}

	header {
		position: relative;
		margin-top: 200px;
		margin-bottom: 70px;
		
		text-align: center;
		color: white;

		h1 {
			font: bolder 120px/80px Montserrat, "Monofett", "Open Sans";
			letter-spacing: -2px;
			text-transform: uppercase;
			text-shadow: 0px 0 7px rgba(0,0,0,.5);
		}

		h2 {
			font: 18px Montserrat;
			margin-top: 15px;
			text-shadow: 0px 0 1px black;
		}

		h2 a {
			color: inherit;
			font-weight: bold;
			text-decoration: none !important;
		}
	}
}


// LIGHT-BG and CONTAINERS
// .light-bg > .container


.light-bg
{
	position: relative;
	padding-top: 10px;
	margin-bottom: 50px;
	box-shadow: 0 0 25px rgba(0,0,0,.7);
	background: #fff url('../img/tiny_grid_@2X.png') repeat top left;
	color: #444;

	a:hover, a:visited, a:active {
		color: #08C;
	}

	strike {
		color: #666;
	}
}

.container > .text-justify { text-align: justify; }
.container > blockquote { p, & { font-size: 24px; } }
.container
{

	font-size: 16px;
	padding-bottom: 50px;

	&#selection {
		li {
			font-size: 22px;
			margin-bottom: 10px;
			font-family: museo, "Open Sans";
			list-style-image: url(../img/tick.png);
		}
	}

	.flex-viewport {
		overflow: visible !important;
		li:not(.flex-active-slide) {
			opacity: .3;
		}
	}


	&#slider-nav {
		font-family: museo, Montserrat, "Open Sans", Arial;

		width: 100%;
		text-align: center;
		cursor: default;
		margin-bottom: 10px;

		.tooltip {
			.tooltip-arrow {
				border-bottom-color: rgba(0,0,0,.8);
			}
			.tooltip-inner {
				text-align: left;
				background: rgba(255,255,255, 0); // contrast with h3
				color: black;
				border: none;
				font: 15px Montserrat;
				border-radius: 0;
			}
		}

		.student
		{
			@dim: 60px;
			width: @dim;
			height: @dim;

			cursor: pointer;
			display: inline-block;
			margin-right: 7px;
			
			.transition(all, linear, .2s);
			
			border: 5px solid white;
			.border-radius(35px);
			// .box-shadow(0,0, 10px, .3);
			
			&.active { }

			img {
				.border-radius(35px);
			}
			
			body[data-hoverschool=CEFET] &[data-school=CEFET],
			&[data-school=CEFET]:hover,
			&[data-school=CEFET].active { border-color: @color0; }

			body[data-hoverschool=CM] &[data-school=CM],
			&[data-school=CM]:hover,
			&[data-school=CM].active { border-color: @color1; }
			
			body[data-hoverschool=CAP] &[data-school=CAP],
			&[data-school=CAP]:hover,
			&[data-school=CAP].active { border-color: @color2; }

			body[data-hoverschool=CP2] &[data-school=CP2],
			&[data-school=CP2]:hover,
			&[data-school=CP2].active { border-color: @color3; }
		}
	}

	&#students-slider
	{
		.flex-control-nav { position: static; display: none; }
		.flex-direction-nav { display: none; }
		
		.student {
			padding: 0 10px;
			text-align: center;
			
			img {
				vertical-align: top;
				display: inline-block;
				border-radius: 10px;
				background: white;
				width: 150px;
			}

			& > div {
				vertical-align: top;
				display: inline-block;
				margin-left: 40px;
				text-align: left;
				width: 600px;
			}

			hgroup * {
				display: inline-block;
				margin: 5px 5px 0 0;
			}
			
			.text {
				padding: 10px 0;
				font: 16px museo;
			}
		}
	}

	&#cost
	{
		hr {
			height: 0;
			border-bottom: 1px solid #444;
		}

		table {
			font: 20px museo;
			td:nth-child(1) {
				font-weight: bold;
			}
			td {
				padding-right: 2px;
			}
		}
	}

	&#donate
	{

		text-align: center;

		button {
			position: relative;
			padding: 20px 35px;
			background: #009B95;
			border: 1px solid #444;
			box-shadow: 0 1px 4px rgba(0,0,0,.8);
			border-radius: 4px;
			color: white;
			font: bold 44px/150% Montserrat;
		}

		.progress {
			.bar {
				.transition(all, ease-out, 1s);
				width: 0% !important;
			}

			&.visible .bar { width: 30% !important;}
		}

		.progress.visible .bar {
			width: 30% !important;
			.transition(all,ease-out,3s);
		}
		
		button:active {
			top: 2px;
			box-shadow: 0 0px 3px rgba(0,0,0,.6);
		}
	}

	&#contact
	{
		form {

			.btn-submit {
				position: relative;
				padding: 10px 15px;
				background: #009B95;
				border: 1px solid #444;
				box-shadow: 0 1px 4px rgba(0,0,0,.8);
				border-radius: 4px;
				color: white;
				font: bold 14px Montserrat;
			}

			h5, h6 {
				margin-left: 20px; display: inline-block;
				font-weight: normal;
			}

			input, textarea {
				box-shadow: none;
				font-family: inherit;
				border-radius: 0;
			}

			.btn-submit:active {
				top: 2px;
				box-shadow: 0 0px 3px rgba(0,0,0,.6);
			}
		}
	}
}

// FOOTER
// footer

.social-btn {
	position: static !important;
	top: 15px;
	right: 15px;

	img {
		position: relative;
		cursor: pointer !important;
		border-radius: 20px;
		background: white;
		margin-left: 3px;
		box-shadow: 0 0 5px rgba(0,0,0,1);
		outline: none !important;
	}

	img:active {
		top: 2px;
	}	
}



.social-share
{
	display: inline-block;
	margin-left: 10px;

	.sharrre {
		vertical-align: middle;
		display: inline-block;
	}

	.sharrre .box:active {
		position: relative;
		top: 2px;
		box-shadow: 0 0 3px #333333;
	}

	.sharrre .share {
		display: inline-block;
		padding: 5px 5px;
		text-align: center;
		font-weight: bold;
	}

	.sharrre .share {
		line-height: 14px;
		color: #ffffff;
		font-size: 13px;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
	}

	#facebook .share span {
		background-position: 0 -35px;
		height: 12px;
	}

	.sharrre .share span {
		background: url("../img/share-btns.png") no-repeat scroll 0 0 transparent;
		width: 18px;
		height: 10px;
		display: inline-block;
	}
}

footer
{
	position: relative;
	z-index: 2;
	font-size: 15px;
	color: white;
}
