
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: .5) when not (iscolor(@alpha)) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: black) when (iscolor(@alpha)) {
    -webkit-box-shadow: @x @y @blur @alpha;
    -moz-box-shadow: @x @y @blur @alpha;
    box-shadow: @x @y @blur @alpha;
}

.user-select (@wut: none) {
	-moz-user-select: @wut;
	-webkit-user-select: @wut;
	-ms-user-select: @wut;
}

.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

.transform (@rotate: 90deg, @scale: 1, @skew: 1deg, @translate: 10px) {
    -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}
 
@spriteSize: 68px;

.sprite (@x, @y, @size: @spriteSize) {
   background-position: -(@x*@spriteSize) -(@y*@spriteSize);
}

///////

.b-color (@color) {
// 	&:hover {
// 		border: 5px solid @color; // box-shadow: 0 0 2px 5px @color;
// 	}
}

///////

@c0: #009B95;
@c1: #FF7100;
@c2: #FFA900;
@c3: #FD0006;


.tk-museo { font-family: museo, "Open Sans", Arial; }
.tk-museo-sans { font-family: museo-sans, "Open Sans", Arial; }

body {
	font-family:"Open Sans";
	
	*:not(canvas)
	{
		z-index: 1;
	}
}

header {
	@height: 205px;
	@width: 700px;

	position: absolute;
	top: 40%; left: 50%;
	height: @height; width: @width;
	margin-top: -(@height/2);
	margin-left: -(@width/2);
	
	z-index: 3;
	vertical-align: middle;
	text-align: center;
	
	h1 {
		font: 120px/80px "Monofett", "Open Sans";
		&:nth-child(2) { color: #C00; }
		letter-spacing: 0px;
		text-transform: uppercase;
		text-shadow: 0px 0 5px rgba(0,0,0,.3);
	}

	h2 {
		font-family: museo, "Open Sans", Arial;
		margin-top: 15px;
		font-size: 20px;
		text-transform: none;
		text-shadow: 0px 0 2px white;
	}
}


.people
{
	@dim: 60px;
	@width: 1000px;
	
	position: absolute;
	width: @width;
	left: 50%; bottom: 40px;
	margin-left: -(@width/2);
	cursor: default;
	
	text-align: center;
	font-family: museo-sans, "Open Sans", Arial;
	padding:10px 0 0 16px;

	h3 {
		font: bold 20px museo, "Open Sans", Arial;
	}

	.person
	{
		width: @dim;
		height: @dim;

		display: table;
		cursor: pointer;
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 10px;
		.box-shadow(0,0, 10px, .3);
		
		border: 5px solid transparent;
		border-radius: 35px;

		.square
		{
			width: @dim;
			height: @dim;

			background: url(../img/avatars.png) no-repeat;
			border-radius: 35px;
			display:inline-block;
			position:relative;
			z-index:11;
			
			&:hover {
				// box-shadow: 0 0 15px rgba(0,0,0,.5),
				// 			0 0 1px 5px @c2;
			}
		}

		.tooltip {
		
			.tooltip-arrow {
				border-top-color: rgba(255,255,255,.8);
			}
			.tooltip-inner {
				text-align: left;
				background: rgba(255,255,255,.5); // contrast with h3
				color: black;
				border: none;
				font: bold 15px museo-sans;
				border-radius: 0;
			}
		}

		&:nth-child(1)	.square { .sprite(6, 6); }
		&:nth-child(2)	.square { .sprite(6, 5); }
		&:nth-child(3)	.square { .sprite(6, 4); }
		&:nth-child(4)	.square { .sprite(3, 3); }
		&:nth-child(5)	.square { .sprite(6, 1); }
		&:nth-child(6)	.square { .sprite(5, 1); }
		&:nth-child(7)	.square { .sprite(0, 1); }
		&:nth-child(8)	.square { .sprite(1, 2); }
		&:nth-child(9)	.square { .sprite(2, 2); }
		&:nth-child(10)	.square { .sprite(3, 2); }
		&:nth-child(11)	.square { .sprite(3, 4); }
		
		body[data-hoverschool=CEFET] &[data-school=CEFET],
		&[data-school=CEFET]:hover { border: 5px solid #08C; }

		body[data-hoverschool=CM] &[data-school=CM],
		&[data-school=CM]:hover { border: 5px solid #FB000D; }
		
		body[data-hoverschool=CAP] &[data-school=CAP],
		&[data-school=CAP]:hover { border: 5px solid #00C90D; }

		body[data-hoverschool=CP2] &[data-school=CP2],
		&[data-school=CP2]:hover { border: 5px solid #FFA900; }
	}


	.person.sel {
		.square {
			outline:4px solid #08C;
		}
	}
}





.bg {
	position:absolute;
	left:0;	right:0;
	top:0; bottom:0;

	z-index: -1;
	opacity: .4;
	background: #fff url('../img/bg.jpg') repeat top left;
}

canvas {
	position: absolute;
	top:0; bottom:0;
	left:0; right:0;
	z-index: 1;
}


img.typekit-badge {
	display: none !important;
}


nav {
	position:fixed;
	right:20px;
	top:60px;

	li:hover {
		padding-right:10px;
	}
	
	li {
		text-align:right;
		list-style:none;
		height:30px;
		margin-bottom:15px;
		display:block;
		padding:6px 5px 6px 6px;
		font:bold 23px Quantico;
		a {
			text-decoration:none !important;
		}
	}
}

video, iframe {
	-webkit-filter: blur(6px);
	.user-select(none);
	overflow: hidden;
}


.overflow {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	overflow: hidden;
	height: 500px;
	z-index: 0;
}



.bg-video {
	position: absolute;
	z-index: 0;
}


