a{cursor:pointer;}
body{font-family:"Open Sans";background:url('../img/bg.png');}
.title{position:absolute;top:50%;height:185px;margin-top:-92.5px;margin-left:-300px;left:50%;width:600px;vertical-align:middle;color:white;text-align:center;font:120px/80px "Monofett","","Open Sans";letter-spacing:1px;text-transform:uppercase;text-shadow:0 0 5px rgba(0, 0, 0, 0.7);}body.light .title span:nth-child(1){color:#333 !important;}
body.dark .title span:nth-child(2){color:#aaa !important;}
.title span:nth-child(2){color:#C00 !important;}
nav{position:fixed;right:20px;top:60px;}nav li:hover{padding-right:10px;}
nav li{text-align:right;list-style:none;height:30px;margin-bottom:15px;display:block;padding:6px 5px 6px 6px;font:bold 23px Quantico;}nav li a{text-decoration:none !important;}
video,iframe{-webkit-filter:blur(2px);-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;overflow:hidden;}
.overflow{overflow:hidden;height:500px;}
canvas{position:absolute;top:0;bottom:0;left:0;right:0;z-index:0;}
.bg-video{position:absolute;z-index:0;}
body.light .bg{display:run-in;}
.bg{display:none;position:absolute;left:0;right:0;top:0;bottom:0;background:#ffffff url('../img/bg.jpg') repeat top left;opacity:.9;}
.people{position:absolute;width:250px;bottom:5px;padding:10px 0 0 16px;}.people .person:hover .desc{-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear;display:inline-block;}
.people .person:hover .square{box-shadow:5px 0 10px -4px rgba(0, 0, 0, 0.6);-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear;}
.people .person{display:table;cursor:pointer;display:inline-block;margin-bottom:10px;margin-right:12px;}.people .person .desc{display:none;position:relative;left:0;z-index:10;overflow:visible;text-overflow:ellipsis;height:60px;max-width:150px;margin-left:-4px;vertical-align:top;padding:8px 10px 8px 10px;box-sizing:border-box;text-align:justify;background:rgba(0, 0, 0, 0.9);font:11px/14px "Open Sans";color:white;}.people .person .desc h5{font-weight:bold;font-size:inherit;margin:0;padding:0;line-height:inherit;}
.people .person .person:nth-child(9) .square{background-position:-204px -136px;}
.people .person .person:nth-child(8) .square{background-position:-136px -136px;}
.people .person .person:nth-child(7) .square{background-position:-68px -136px;}
.people .person .person:nth-child(6) .square{background-position:0px -136px;}
.people .person .person:nth-child(5) .square{background-position:-272px -476px;}
.people .person .person:nth-child(4) .square{background-position:-204px -68px;}
.people .person .person:nth-child(3) .square{background-position:-136px -68px;}
.people .person .person:nth-child(2) .square{background-position:-68px -68px;}
.people .person .person:nth-child(10) .square{background-position:-272px -136px;}
.people .person .person:nth-child(1) .square{background-position:-272px -544px;}
.people .person .square{display:inline-block;position:relative;z-index:11;width:60px;height:60px;box-shadow:0 0px 5px rgba(0, 0, 0, 0.7);background:url(../img/avatars.png) no-repeat;}
.people .person.sel .square{outline:4px solid #08C;}
h2{font:bold 20px Quantico !important;}
