
// main.less
// for magnetproject.us
// by f03lipe

@import "macros.less";
@import "fonts.css";

.tk-museo { font-family: museo, "Open Sans", Arial; }
.tk-museo-sans { font-family: museo-sans, "Open Sans", Arial; }

@color0: #009B95;
@color1: #FB202D;
@color2: #00C90D;
@color3: #FF7100;


body {
	background: #333; // fixed url('../img/infslicted.png') repeat top left;
	font-family: museo-sans, Montserrat, "Open Sans", sans-serif;
	overflow-x: hidden; // for slider
	color: white;
}


h1,h2,h3,h4,h5,h6 {
	font-family: museo;
}

a:link {
	color :#4AE;
}

a:hover, a:link, a:active {
	color: #4AE;
	text-decoration: none;
}


// HEADER
// #header, canvas

canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media (max-width: 767px) { body { padding: 0; } } 

#header
{
	padding-bottom: 0; // reset from .container

	.tc-banner {
		position: absolute;
		top: 10px;
		left: 10px;
		
		img {
			position: relative;
			z-index: 1;
			vertical-align: middle;
		}

		.box {
			position: relative;
			display: inline-block;
			z-index: 0;

			padding: 10px 15px;
			margin-left: -10px;
			vertical-align: middle;

			cursor: default;
			font: bold 13px/16px "Montserrat";
			opacity: 0;
			
			a { font-weight: bold; color: #0BF; }
		}

		cursor: pointer;

		&:hover .box { opacity: 1; }
	}

	.social-share {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	@msize1: 650px;

	header {
		position: relative;
		margin: 200px 0 125px;

		text-align: center;
		color: white;

		h1 {
			cursor: default;
			font: bolder 130px/80px Montserrat, "Monofett", "Open Sans";
			letter-spacing: -2px;
			text-transform: uppercase;
		}

		h2 {
			font: 18px Montserrat;
			margin-top: 15px;
			text-shadow: 0px 0 1px black;
		}

		h2 a {
			color: inherit;
			font-weight: bold;
			text-decoration: none !important;
		}
	}


	@media (max-width: @msize1) {
		header {
			margin: 90px 0 35px;
			h1 { font-size: 100px; line-height: 65px; }
			h2 { font-size: 20px; }
		}
	}
}


// LIGHT-BG and CONTAINERS
// .light-bg > .container

#back-up {
	position: fixed;
	top: 30px;
	right: 50px;
	opacity: 0;
	.transition(opacity, linear, .2s);

	i {
		color: #444;
		cursor: pointer;
		font-size: 50px;
		opacity: .8;
	}

	i:hover {
		opacity: 1;
	}
}

.light-bg
{
	position: relative;
	// padding-top: 10px;
	// margin: auto 60px;
	// margin-bottom: 30px;
	box-shadow: 0 0 25px rgba(0,0,0,.7);
	background: #fff; // url('../img/stiny_grid_@2X.png') repeat top left;
	color: #444;
	overflow: hidden;

	a:hover, a:visited, a:active {
		color: #08C;
	}

	del {
		color: #666;
	}

	& > * {
		position: relative;
		z-index: 2;
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 1050px; /* or 950px */
}

//.row-fluid { border: 1px solid red; }

.lead, blockquote { font-family: museo; }


.text-justify { text-align: justify; }
.container, .container-fluid > blockquote { p, & { font-size: 24px; } }

[class*="container"]
{

	font-size: 16px;
	padding-bottom: 50px;
	@media (max-width: 700px) { padding-bottom: 10px; }

	&#selection {
		padding-bottom: 30px;
		li {
			font-size: 20px;
			margin-bottom: 10px;
			font-family: museo, "Open Sans";
			list-style-image: url(../img/tick.png);
		}

		.sign-up {
			button {
				margin: 20px 0;
				font-size: 30px;
				padding: 20px 30px;
				.border-radius(10px);
				font-family: museo, "Open Sans";
				cursor: pointer;
			}

			.notice {
				color: red;
				opacity: .8;
				cursor: default;
				.transition(color, linear, 3s);
			}
			&:hover .notice {
				opacity: 1;
			}
		}
	}

	.flex-viewport {
		overflow: visible !important;
		li:not(.flex-active-slide) {
			opacity: 0;
		}
	}


	&#slider-nav {
		margin-bottom: 40px;
		padding-bottom: 0; // reset .container 
		margin-top: 5px;
		font-family: museo, Montserrat, "Open Sans", Arial;

		width: 100%;
		text-align: center;
		cursor: default;
		z-index: 100;

		h2 {
			font: bold 22px museo;
		}

		.tooltip {
			.light-bg & .tooltip-inner { color: black; }
			.-arrow {
				border-bottom-color: #222; //rgba(0,0,0,1);
			}
			.tooltip-inner {
				text-align: left;
				background: rgba(255,255,255, 0); // contrast with h3
				padding-top: 0;
				border: none;
				font: 14px Montserrat, museo, Arial;
				border-radius: 0;
				z-index: 10;
				position: relative;
			}
		}

		.student
		{
			@bradius: 35px;
			@dim: 50px;
			width: @dim;
			height: @dim;
			vertical-align: top;
			overflow: hidden;

			cursor: pointer;
			display: inline-block;
			margin-right: 6px;
			border: 3px solid white;

			@media (min-width: 1030px) { margin-right: 7px; width: @dim+7; height: @dim+7; }
			@media (min-width: 1150px) { margin-right: 10px; width: @dim+10; height: @dim+10; }
			
			.transition(all, linear, .2s);
			.border-radius(@bradius+2);
			.box-shadow(0,0, 15px, .3);
			
			&.active { }

			img {
				// min-height: 70px;
				.border-radius(@bradius);
			}
			
			body[data-hoverschool=CEFET] &[data-school=CEFET],
			&[data-school=CEFET]:hover,
			&[data-school=CEFET].active { border-color:; box-shadow: 0 0 10px @color0; }

			body[data-hoverschool=CM] &[data-school=CM],
			&[data-school=CM]:hover,
			&[data-school=CM].active { border-color:; box-shadow: 0 0 10px @color1; }
			
			body[data-hoverschool=CAP] &[data-school=CAP],
			&[data-school=CAP]:hover,
			&[data-school=CAP].active { border-color:; box-shadow: 0 0 10px @color2; }

			body[data-hoverschool=CP2] &[data-school=CP2],
			&[data-school=CP2]:hover,
			&[data-school=CP2].active { border-color:; box-shadow: 0 0 10px @color3; }

			body[data-hoverschool=CP2] &[data-school=CP2],
			&[data-school=CP2]:hover,
			&[data-school=CP2].active { border-color:; box-shadow: 0 0 10px @color2; }
			
			&[data-school]:hover,
			&[data-school].active {
				border-color: ;
			}
		}
	}

	&#students-slider
	{
		.flex-control-nav { position: static; display: none; }
		.flex-direction-nav { display: none; }

		margin-top: 20px;
		
		.student {

			padding: 0 10px;
			text-align: center;
			
			img {
				vertical-align: middle;
				display: inline-block;
				border-radius: 10px;
				background: white;
				width: 150px;
				height: 150px;
				overflow: hidden;
			}

			& > div {
				vertical-align: top;
				display: inline-block;
				margin-left: 40px;
				text-align: left;
				width: 650px;
			}

			hgroup * {
				display: inline-block;
				margin: 5px 5px 0 0;
			}
			
			.text {
				padding: 10px 0;
				font: 16px museo;
			}
		}
	}

	&#cost
	{
		table {
			margin: 0 auto;
			width: 100%;
			td {
				font: 16px/12px museo;
				padding-right: 3px;
				border-top: none; 
			}
			
			td:nth-child(1) {
				font-weight: bold;
				text-align: right;
			}
			
			td[colspan] {
				h1, h2, h3 {
					margin: 0;
					font-size: 37px;
				}
				width: 100px;
				border-top: 1px solid #DDD;
				text-align: center;
			}
		}
	}

	&#donate
	{

		text-align: center;

		button {
			position: relative;
			padding: 20px 35px;
			background: #009B95;
			border: 1px solid #444;
			box-shadow: 0 1px 4px rgba(0,0,0,.8);
			border-radius: 4px;
			color: white;
			font: bold 44px/150% Montserrat;
		}

		.progress {
			.bar {
				.transition(all, ease-out, 1s);
				width: 0% !important;
			}

			&.visible .bar { width: 30% !important;}
		}

		.progress.visible .bar {
			width: 30% !important;
			.transition(all,ease-out,3s);
		}

		button:hover,
		button:active,
		button.active,
		button.disabled,
		button[disabled] {
			background-color: #51a351;
		}
		
		// button:active {
		// 	top: 2px;
		// 	box-shadow: 0 0px 3px rgba(0,0,0,.6);
		// }
	}

	&#contact
	{
		form {

			.btn-submit {
				position: relative;
				padding: 10px 15px;
				background: #009B95;
				border: 1px solid #444;
				box-shadow: 0 1px 4px rgba(0,0,0,.8);
				border-radius: 4px;
				color: white;
				font: bold 14px Montserrat;
			}

			h5, h6 {
				margin-left: 20px; display: inline-block;
				font-weight: normal;
			}

			input, textarea {
				box-shadow: none;
				font-family: inherit;
				border-radius: 0;
			}

			.btn-submit:active {
				top: 1px;
				background: #5bb75b;
				box-shadow: none;
			}
		}
	}
}

// FOOTER
// footer


.social-share
{
	display: inline-block;
	margin-left: 10px;

	.sharrre {
		vertical-align: middle;
		display: inline-block;

		.box:active {
			position: relative;
			top: 2px;
			box-shadow: 0 0 3px #333333;
		}
		.share {
			display: inline-block;
			padding: 5px 5px;
			text-align: center;
			font-weight: bold;
			line-height: 14px;
			color: #ffffff;
			font-size: 13px;
			text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
			
			span {
				background: url("../img/share-btns.png") no-repeat scroll 0 0 transparent;
				width: 18px;
				height: 10px;
				display: inline-block;
			}
		}

	}

	.facebook .share span {
		background-position: 0 -35px;
		height: 12px;
	}
}

footer
{
	position: relative;
	z-index: 2;
	font-size: 15px;
	color: white;
	font-family: museo, Montserrat, sans-serif;
	margin-top: 30px;

	h56 { font-size: 14px; }

	.social-btn {
		position: static !important;
		top: 15px;
		right: 15px;

		img {
			position: relative;
			cursor: pointer !important;
			border-radius: 20px;
			background: white;
			margin-left: 3px;
			box-shadow: 0 0 5px rgba(0,0,0,1);
			outline: none !important;
		}

		img:active {
			top: 2px;
		}	
	}

}


// STOLEN from G+

::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 12px;
	background: white;
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb:vertical {
	border-width: 2px 1px;
	min-height: 40px;
}

::-webkit-scrollbar-thumb:hover {
	.transition(all, linear, .1s);
	background-color: #AAA;
}


::-webkit-scrollbar-thumb:active {
	background-color: #777;
}

