<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<title>Magnet Project 2013</title>
	<meta name="description" content="A TurmaCidadã Brasil desenvolve e apoia projetos sustentáveis voltados para a comunidada, promovendo o desenvolvimento 'socio-pessoa-ambiental'.">
	<meta name="keywords" content="Magnet Project, Turmacidada, Turma Cidadã Brasil, magnet schools, students, Dux Institute, Harvard, application, schools, ONG, cidadania, prep program, fundação estudar, escolas públicas, CEFET, Colégio Militar, rio de janeiro, Brasil">
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="Felipe Aragão Pires">

	<meta property="og:url" content="http://magnetproject.us/" />
	<meta property="og:site_name" content="Turma Cidadã" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="MagnetProject" />
	<meta property="og:image" content="http://turmacidada.herokuapp.com/static/images/logo.png" />
	<meta property="og:description" content="A TurmaCidadã desenvolve e apoia projetos sustentáveis voltados para a comunidada, promovendo o desenvolvimento 'socio-pessoa-ambiental'" />
	<meta property="fb:app_id" content="7363627862327638" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"></link>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quantico:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Exo:300,400,700,800,900|Monofett|Passion+One|Sansita+One|Oxygen:400,700|Montserrat:400,700,800,900|Source+Sans+Pro:400,700|Graduate:400,700,800,900|Lora:600,700|Bree%20Serif:400&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/main.css">

	<script type="text/javascript" src="js/vendor/modernizr-2.6.2.min.js"></script>
	<script type="template/text" id="slider-nav-templ">
		<li>
			<div class="student" data-id="<%= id %>">
				<img src="<%= avatar %>" class="thumbnail img-rounded">
				<div>
					<hgroup>
						<h3><%= name %></h3>
						<h4><a href="#schools-<%= school_label %>" data-school="<%= school_label %>"><%= school %></a></h4>
						<br><h4><%= age %>, Rio de Janeiro</h4>
						
					</hgroup>
					<div class="text">
					<%= message || "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor bibendum posuere. Mauris in tortor velit, non blandit arcu. Ut fermentum viverra tellus, aliquet imperdiet ligula mollis et. Duis tincidunt odio eu mi sollicitudin ut mollis risus laoreet. Nunc dignissim pretium erat a facilisis. Fusce suscipit aliquam sem, at feugiat eros rutrum id. Curabitur vel odio justo."
					%>
					</div>
				</div>
			</div>
		</li></script>
	<script type="template/text" id="slider-el-templ">
		<div class="student" data-school="<%= school_label %>" data-id="<%= id %>" title="<strong><%= name %></strong><br><%= school %>">
			<img src="<%= avatar %>" width=100 height=100 ></div>
		</div></script>
</head>


<body class="">
	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->

	<canvas class="fullscreen" id="mag"></canvas>

	<div class="container" id="header">
		<div class="tc-banner">
			<a href="http://turmacidada.org">
				<img src="img/logo.png" width=50 alt="Logo Turma Cidadã"/></a>
			<div class="box">Afiliado à <br><a href="http://turmacidada.org">TurmaCidadã Brasil</a></div>
		</div>

		<div class="social-share">
			<div class="twitter" data-url="http://magnetproject.us" data-text="MagnetProject, Helping students from Rio's top magnet schools to get there!"></div>
			<div class="facebook" data-url="http://magnetproject.us" data-text="MagnetProject, Helping students from Rio's top magnet schools to get there!"></div>
		</div>

		<header>
			<h1>Magnet</h1>
			<h1>Project</h1>
			<h2>Helping students from <a href="#schools">Rio's top magnet schools</a> to get there!</h2>
		</header>
	</div>


	<div class="light-bg">
		<div class="bg"></div>
		<div id="back-up"><i onClick="$('html, body').animate({ scrollTop: 0 }, 500);" class="icon-chevron-sign-up"></i></div>

		<div class="container" id="slider-nav">
			<h2>O Time de 2013</h2>
			<!-- Dear Javascript, students go here. -->
		</div>

		<div class="container" id="students-slider">
			<div class="row-fluid">
				<div class="span12">
					<ul class="slides">
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid bottomless">
			<div class="row-fluid">
				<div class="span12 lead text-justify">
					O <strong>Magnet Project</strong> é um programa sem fins lucrativos que tem como objetivo financiar o <abbr data-abbr="application" title="">processo de <em>application</em></abbr> para alunos oriundos de escolas públicas de currículos diferenciados, <abbr data-abbr="magnet-school" title="">magnet schools</abbr>, que estejam interessados em cursar a graduação em universidades estrangeiras.
				</div>
			</div>
		</div>
		
		<div class="container-fluid bottomless">
			<div class="row-fluid">
				<div class="span5">
					<h2>O Nosso Objetivo</h2>
					O objetivo do <strong>Magnet Project</strong> é criar um programa anual de financiamento integral dos custos envolvidos no <abbr data-abbr="application" title="">processo de <em>application</em></abbr> para alunos de escolas públicas fortes (como o Colégio Pedro II, Colégio Militar, Institutos Federais, Centros Federais e Escolas de Aplicação), que estejam no último ou penúltimo anos do ensino médio. Os custos cobertos devem incluir o preço das provas, livros e curso preparatório.
				</div>

				<div class="span7">
					<h2>A Nossa Motivação</h2>
					A <abbr data-abbr="application" title=""><em>application</em></abbr> para universidades americanas é um processo demorado, que envolve o cumprimento de várias etapas distintas, desde a realização de simulados do <abbr data-abbr="SAT" title=""><em>SAT e TOEFL</em></abbr> até o envio de documentos para as universidades pretendidas. Essas etapas envolvem o pagamento de taxas específicas para realização de testes, envio de documento e solicitação de matrícula, entre outros. Alunos bons de baixa renda são automaticamente excluídos da oportunidade de estudar fora, antes mesmo de serem avaliados pelas universidades.
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<blockquote>
				<p>O Brasil é uma nação com grandes perspectivas de desenvolvimento. Desenvolvimento, este, que depende diretamente da competência profissional dos agentes transformadores, que deve ser adquirida no processo de formação educacional. As escolas públicas no Brasil, em geral, não têm atendido às necessidades de uma formação de qualidade. No atual sistema público de educação, estudantes com grande potencialidade para aprendizagem carecem de estimulo e condições para desenvolvimento pleno das suas capacidades.</p>
				<small>Silvino Neto, <cite title="Source Title">CEO da <a href="http://turmacidada.org">Turma Cidadã Brasil</a></cite></small>
			</blockquote>
		</div>

		<div class="container-fluid" id="selection">
			<div class="row-fluid">
				<div class="span6">
					<h1>Nosso Time de Alunos</h1>
					Procuramos por estudantes do 2º ou 3º ano do Ensino Médio que tenham <em>interesse e potencial</em> para estudar em universidades estrangeiras. Espera-se, também, que os estudantes dediquem parte do seu tempo em atividades de voluntariado na Turma Cidadã, sem que haja prejuízo de seu desempenho escolar.
					<div class="sign-up" style="width: 100%; text-align: center">
						<button class="btn btn-large disabled btn-success" type="button">Inscreva-se no <strong>Magnet Project</strong></button>
						<div class="notice">As inscrições para o ano de 2013 estão encerradas.</div>
					</div>
				</div>
				<div class="span6">
					<h3>Critérios de Seleção</h3>
					<p>Os alunos no nosso time estão entre os melhores das suas respectivas escolas. Nossos critérios se assemelham bastante aos utilizados pelas universidades. Estamos procurando por alunos com</p>
					<ul>
						<li>vontade de ajudar a melhorar o Brasil <strong>(é sério!)</strong></li>
						<li>proficiência na língua inglesa<br><strong>(dominar o português é fudamental ;)</strong></li>
						<li>interesses interdiciplinares desenvolvidos</li>
						<li>destacado desempenho escolar</li>
						<li>atividades extra-curriculares</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="schools">
			<div id="schools-CEFET"></div> <div id="schools-CM"></div> <div id="schools-IFRJ"></div> <div id="schools-CAP"></div>

			<div class="row-fluid">
				<div class="span5">
					<h2>Escolas Envolvidas</h2>
					O Magnet Project procura alunos do Ensino Médio rede pública de ensino, em escolas conceituadas como os Institutos Federais, Centros Federais, Colégios de Aplicação, Colégio Militar e Pedro II. <strong>Não apresentamos restrição alguma, porém, à inscrição alunos da Rede Municipal ou Estadual de Ensino.</strong> Estes podem fazer a selação do mesmo jeito, e serão avaliados de forma imparcial, sempre levando em consideração suas dificuldades circunstanciais.
				</div>
				<div class="span7 text-justify">
					<h3>O Processo de 2013</h3>
					Em 2013, por ser nosso primeiro ano, tivemos um processo de seleção diferenciado. Preenchemos uma quota de 10 a 15 vagas com estudantes de 2º e 3º anos de <abbr data-abbr="magnet-school" title="">magnet schools</abbr> com interesse prévio em aplicar para universidades no exterior, que foram encontrados por conhecimento de um dos integrantes ou por recomendação de conhecidos. Houve a preocupação de sondar os interesses dos candidatos, de modo a escolher os mais bem preparados e aqueles que poderiam contribuir positivamente para o projeto.
				</div>
			</div>
		</div>


		<div class="container-fluid" id="cost"> 
			<div class="row-fluid">
				<div class="span7">
					<h1>Contas e custos</h1>
					Dentro do nosso objetivo de diminuir o efeito da desigualdade social nas oportunidades acesso à educação de qualidade. Com esse objetivo, procuramos oferecer aos alunos o essencial para serem competitivos no processo de seleção e conseguirem . Os custos do processo de application incluem testes padronizados, testes de proficiência em inglês, o envio do resultado desses testes para as universidades, livros de estudo para esses testes. Esses custos serão providos pelos doadores do <strong>Magnet Project</strong>.
					</p>
				</div>
				<div class="span5 offsset1">
					<p>O calculo índividual de custo para cada aluno do magnet project está representado abaixo:</p>
					<table class="table table-hover">
						<tbody>
						<tr><td>3 x R$500,00</td><td>SAT tests</td></tr>
						<tr><td>1 x R$1.700</td><td>SAT course</td></tr>
						<tr><td>7 x R$110,00</td><td>college fees</td></tr>
						<tr><td>7 x R$110,00</td><td>college fees</td></tr>
						<tr><td colspan="2"><h2>≃ R$4.000 <small>per student</small></h2></td></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div class="container-fluid hidden" id="donate">
			<div class="row-fluid">
				<div class="span6">
					<button>Donate!</button>
				</div>
				<div class="span6">
					meta: <h1>R$ 0,0/40 mil</h1>
					<div class="progress progress-striped active">
						<div class="bar" style="width: 60%;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="dux">
			<div class="row-fluid">
				<div class="span6">
					<h1>The SAT Course</h1>
					tudin ut mollis risus laoreet. Nunc dignissim pretium erat a facilisis. Fusce suscipit aliquam sem, at feugiat eros rutrum id. Curabitur vel odio justo. Etiam eu sapien eu lacus ultricies vehicula. Morbi luctus, purus nec aliquam tincidunt, tortor libero mattis est, eu tempor nisi lacus ac justo. Maecenas sodales adipiscing dolor et feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
				</div>
				<div class="span6">
					<h3><a href="http://duxinstitute.com/">O Dux Institute</a></h3>
					O Dux Institute é uma organização dedicada à conquista do Ensino Superior nos Estados Unidos. A experiência pessoal deles, como graduados nas melhores universidades americanas e envolvidos no mercado educacional do Rio de Janeiro desde 2006, os levou à soluções únicas de como guiar e apoiar estudantes durante cada passo do processo. Seus estudantes já foram aceitos em várias das mais pretigiadas universidades do mundo (como Harvard, Yale, Princeton, Penn, Columbia e Georgetown, entre outras), muitos com generosas bolsas de estudo. O Dux Institute acredita que todos os estudantes podem atingir seu potencial através de educação superior, e usa os anos de experiência do seu time para entender as necessidades e aspirações de cada aluno, a fim de ajudá-los a encontrar a instituição de ensino perfeita para o seu sucesso pessoal.
				</div>
			</div>
		</div>

		<div class="container-fluid" id="vocab">
			<div class="row-fluid">
				<div class="span4">
					<h1>Vocabulário</h1>
					Veja o que cada termo significa aqui.
				</div>
				<div class="span8 text-justify">
					<dl class="dl-horizontal">
						<dt id="application">Application</dt>
						<dd>em sua significação ampla, se refere ao processo de inscrição em universidades americanas. Ele inclui a realização de exames padronizados, como <strong>SAT</strong> (reasoning e subjects) e <strong>TOEFL</strong>, envio de documentos (notas escolares, certificados de conclusão do ensino médio e cartas de recomendação) e de essays (redações pessoais que servem para que a universidade conheça o estudante e possa decidir se ele se encaixa no perfil que ela procura).
						<dt id="magnet-school">Magnet schools </dt>
						<dd>são escolas públicas concorridas com currículo especializado, cujos objetivos são eliminar, reduzir e prevenir o isolamento de grupos desfavorecidos, ao mesmo tempo que proporciona aos estudantes conhecimentos mais fortes em disciplinas acadêmicas e competências profissionais.</dd>
						<dt id="SAT">SATs e TOEFL </dt>
						<dd>são teste padronizados (como o ENEM brasileiro, mas que acontecem diversas vezes ao ano) que servem para mostrar o nível de conhecimento do aluno para as universidades. O SAT, dividido em <em>SAT Reasoning</em> e <em>SAT Subjects</em>, testa conhecimento nas áreas como Inglês (leitura e escrita), Matemática, História (americana e mundial), Física, Química, Biologia e outras mais. TOELF é o teste padronizado de inglês, que serve para testar a fluência dos.</dd>
					</dl>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="contact">
			<div class="row-fluid">
				<div class="span7">
					<h1>Fale conosco!</h1>
					Entre em contato se você tem qualquer dúvida sobre o programa ou gostaria de discutir uma parceria. Não esqueça de deixar o seu email no formulário, para receber uma resposta. Você também pode enviar emails para  <a href="mailto:pires.a.felipe@gmail.com"><strong>pires.a.felipe&#64;gmail.com</strong></a> (endereço provisório). <h3>Estamos à procura de uma empresa que acredite na nossa visão e tenha interesse em financiar nossos alunos. Se você acha que a sua se enquadra nesses quesitos, não deixe de nos contactar! :)</h3>
				</div>
				<div class="span5">
					<br>
					<form>
						<fieldset>
							<legend>No que você está pensando?</legend>
							<input type="text" required placeholder="Seu Nome"><br>
							<input type="email" required placeholder="Seu Email">		
							<textarea rows="5" required style="width: 100%" placeholder="Sua mensagem fica aqui! :)"></textarea>
							<button type="submit" onclick="return false;" class="btn  btn-submit btn-success" id="submit">Enviar</button>
							<h5>Your email adress is safe with us!</h5>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<footer id="footer">
			<div class="row-fluid">
				<div class="span5">
					<h5>MagnetProject.us &reg; 2013<br>Todos os Direitos Reservados</h5>
					<h5>Conceite e desenvolvimento por <a href="http://twitter.com/f03lipe">Felipe Aragão Pires</a></h5>
					
					<div class="social-btn">
						<a target="_blank" href="https://twitter.com/magnetprojectrj"><img alt="Twitter" src="img/twitter_32.png"></a>
						<a target="_blank" href="http://facebook.com/magnetproject"><img alt="Facebook" src="img/facebook_32.png"></a>
						<a target="_blank" href="https://plus.google.com/u/0/100273759542691972697"><img alt="Google+" src="img/gplus_32.png"></a>
						<div class="social-share">
							<div class="twitter" data-url="http://magnetproject.us" data-text="MagnetProject, Helping students from Rio's top magnet schools to get there!"></div>
							<div class="facebook" data-url="http://magnetproject.us" data-text="MagnetProject, Helping students from Rio's top magnet schools to get there!"></div>
						</div>
					</div>
				</div>
				<div class="span3">
				</div>
				<div class="span4" style="text-align: right; margin-top: 10px">
					<address style="float: left; padding-top: 15px">
						<strong>Afiliado à <a href="http://turmacidada.org">Turma Cidadã Brasil</a></strong>
						<br>
						R. General Canabarro, 522<br>
						Tijuca, Rio de Janeiro, Brasil<br>
						<abbr title="telepone">P:</abbr> (21) 2566-3055
					</address>
					<img style="float: right" width=100 src="img/logo.png" alt="Logo Turma Cidadã">
				</div>
			</div>
		</footer>
	</div>

	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

	<script type="text/javascript" src="js/jquery.sharrre-1.3.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>

	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>

	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript">

		$(window).ready(function() {
			MagneticCamp.init();
			
			$("#slider-nav .student").tooltip({html:true, delay: 0, placement:'bottom'});
			$("abbr").each(function (i, e) {
				$(e).click(function (evt) {
					window.location.hash = '#'+$(e).data('abbr');
				})
			})

			setUpSharrre();
			setScrollAnimations();

			$("[data-school]").bind({
				mouseover: function (evt) {
					target = $(evt.target);
						school = (
							(target.data('school')?target:false) ||
							target.find('[data-school]')[0] ||
							target.closest('[data-school]')).data('school');
					document.body.dataset.hoverschool = school;
				},
				mouseout: function (evt) { delete document.body.dataset.hoverschool; },
				mouseleave: function (evt) { delete document.body.dataset.hoverschool; },
			});
		});

		var students = (function(o) {for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);return o;})([
			{ 
				name:'Alessandra Bastos', age:'17 anos',
				school_label:'CEFET', school:'CEFET RJ',
				avatar:'img/students/431894_10200274680483417_636937987_n.jpg',
				message: 'Sou <strong>estudante do CEFET/RJ</strong> - unidade Maracanã, onde curso o 3° ano do ensino médio e o <strong>curso técnico de informática</strong> (para o qual eu fiz um ano de iniciação científica). Sou apaixonada por <strong>simulações da ONU</strong> em geral e serei secretária-geral do SICEFET (Simulações Internas do CEFET/RJ). Aprecio muito a ciência, em especial a área de química e considero trabalhar com isso num futuro próximo. Acredito ser uma pessoa expressiva, expontânea, criativa, curiosa, crítica e energética.' },
			{ 
				name:'Alessandro Pacanowski', age:'17 anos',
				school_label:'CM', school:'Colégio Militar RJ',
				avatar:'img/students/532803_463803063648861_609263407_n.jpg',
				message: 'Sou um estudante de 17 anos, desde a quinta serie no Colegio Militar. Conheci Olimpiadas de Matematica quando pequeno e desde entao continuei estudando. Participei da IMO 2013, na Colômbia e outras. Faço parte do Projeto Fermat, onde alunos de escolas públicas assistem a aulas de olimpíada e interagem entre si, evoluindo juntos. Tenho muitos hobbies como malhaçao, MMA, leitura, dança (tango, forró e samba), corrida, curso de espanhol e de inglês, toco saxofone na banda do colégio e faço equitaçao.' },
			{ 
				name:'André Queiroz', age:'17 anos',
				school_label:'FAETEC', school:'FAETEC',
				avatar:'img/students/970533_511492172233966_349772150_n.jpg',
				message: 'Já no primário eu era um dos mais bagunceiros da classe, porém, com as melhores notas. Sempre gostei de desafios, e escola não era um deles. Sou <strong>técnico de informática formado pela FAETEC</strong> e já desenvolvi sistemas de gestão e um jogo sobre reciclagem, além de ter sido <strong>premiado em olimpíadas de Matemática e Informática</strong>. Quero cursar Ciência da Computação na universidade e o <strong>meu maior sonho é transformar a educação brasileira</strong> em algo mais divertido (e desafiador) por meio da tecnologia.' },
			{ 
				name:'Felipe Aragão', age:'17 anos',
				school_label:'CEFET', school:'CEFET RJ',
				avatar:'img/students/Untitled-dough.png',
				message: 'Sou estudante do <strong>curso técnico de informática</strong> na unidade maracanã do <strong>CEFET RJ</strong>. Sou <strong>secretário-geral do grêmio</strong> de lá e volutário na <strong>Turma Cidadã</strong> desde o começo de 2011. Sou uma pessoa multifacetada, com muitos interesses e incapacidade de fazer uma coisa só. Atualmente me divirto bastante desenvolvendo projetos pela ONG e coordenando o <strong>Magnet Project</strong>.' },
			{ 
				name:'Felipe Guimarães', age:'16 anos',
				school_label:'CEFET', school:'CEFET RJ',
				avatar:'img/students/971002_333531546775968_1456404657_n.jpg',
				message: 'Sou estudante do <strong>CEFET/RJ - Maracanã</strong>, no curso de <strong>Segurança do Trabalho</strong>. Sou um dos representantes do meu curso técnico no grêmio e <strong>monitor de matemática</strong> nessa escola. Me considero uma pessoa curiosa que busca sempre conhecimentos novos e maneira de transmiti-los. E espero que um dia eu possa fazer uma real diferença na vida de outras pessoas e quem sabe, nesse país.' },
			{ 
				name:'Ivo Lima', age:'17 anos',
				school_label:'CM', school:'Colégio Militar RJ',
				avatar:'img/students/603597_657977254228897_2077363595_n.jpg',
				message: 'Há mais de 10 anos em escolas públicas, estudo hoje no <strong>Colégio Militar</strong>, onde conquistei diversas honrarias, entre elas, o título de <strong>Tenente-Coronel-Aluno</strong> - a segunda mais alta posição de distinção que um aluno pode alcançar. Pretendo cursar economia no exterior para, aliando conhecimentos à minha experiência no <strong>projeto SOMAR</strong> (onde dou aulas de inglês para crianças carentes, utilizando a língua como um pretexto para ensiná-las valores), me tornar capaz de transformar as escolas públicas do Brasil.' },
			{ 
				name:'Izabel Barbosa', age:'17 anos',
				school_label:'CAP', school:'CAP UERJ',
				avatar:'img/students/536995_489767991043577_1256149523_n.jpg',
				message: '' },
			{ 
				name:'Larissa de Paula', age:'17 anos',
				school_label:'CM', school:'Colégio Militar RJ',
				avatar:'img/students/600839_458871510854841_86940804_n.jpg',
				message: 'Sou estudante do <strong>Colégio Militar do Rio de Janeiro</strong>. Lá, tive a honra de ser <strong>diretora de hipismo do grêmio estudantil</strong>. Atualmente faço ballet profissional, equitação e dou aula de história e geografia para crianças carentes. Já morei em cinco cidades diferentes e por isso sou apaixonada por novos lugares e culturas. Acredito que o que importa na vida é amar de verdade e se doar por inteiro ao que você se propõe a fazer.' },
			{ 
				name:'Letícia Cardoso', age:'17 anos',
				school_label:'CM', school:'Colégio Militar RJ',
				avatar:'img/students/972127_500665209988748_848122732_n.jpg',
				message: 'Sou estudante do <strong>Colégio Militar do Rio de Janeiro</strong>, onde sou a primeira da minha turma desde que adentrei em tal instituição. Faço <strong>equitação</strong> e jogo handball, aprendendo, dessa forma, a trabalhar em equipe, ser gentil e a superar obstáculos. Dedicada, engajada e preocupada com o próximo, considero que sonhos só são grandes o suficiente, a partir do momento que eles te assustam, por isso, desejar ser a primeira mulher pantheon em 125 anos de CMRJ e estudar no exterior, é só o começo.' },
			{ 
				name:'Luiz Fernando Leal', age:'19 anos',
				school_label:'CEFET', school:'CEFET RJ',
				avatar:'img/students/543821_454461197941683_1570568162_n.jpg',
				message: 'Sou estudante do <strong>CEFET/RJ</strong>, onde curso o 3° ano do ensino médio e o <strong>curso técnico de eletrônica</strong>. Tenho interesse em seguir carreira científica no exterior, para que no futuro eu possa voltar ao Brasil e aplicar todos os meus conhecimentos para o avanço da ciência no país. Tendo isso em mente, venho atuando como <strong>pesquisador orientado no CBPF</strong> e como <strong>monitor de Física</strong> em minha escola, procurando sempre agregar os valores necessários para o sucesso, tanto no meio acadêmico como no meio social..' },
			{ 
				name:'Mariam Topeshashvili', age:'16 anos',
				school_label:'CP2', school:'Colégio Pedro II Humaitá',
				avatar:'img/students/943459_523820314331823_876949568_n.jpg',
				message: 'Vinda da <strong>República da Geórgia</strong>, atualmente estudo no <strong>Colégio Pedro II - Humaitá II</strong>, onde sou representante de classe, 1ª da turma e ao mesmo tempo monitora de Matemática, Física, Química, História e Geografia através do <strong>Projeto ACE!</strong> criado por mim. Participo do Núcleo de Ética e Realidade Atual da <strong>PUC-Rio</strong>, estagio no laboratório de Bioquímica da <strong>Petrobrás</strong> e gravo áudio-livros na <strong>Audioteca Sal e Luz</strong> para deficientes visuais. Por já dominar 5 idiomas, desejo estudar <strong>International Business</strong> nos EUA.' },
			{ 
				name:'Pedro Paulo Maia', age:'18 anos',
				school_label:'CM', school:'Colégio Militar RJ',
				avatar:'img/students/420093_550766978287482_748761077_n.jpg',
				message: 'Estudo no <strong>Colégio Militar do Rio de Janeiro</strong>. Tenho interesse de cursar a área de Administração e Educação nos EUA e <strong>voltar ao Brasil</strong>. Pretendo abrir uma escola e fazer a diferença em um setor carente de investimentos. Na minha vida acadêmica, já fiz trabalhos voluntários, trabalhei no Projeto Mais Educação da Prefeitura, fui <strong>Vice-presidente do Grêmio estudantil</strong> e já fui <strong>medalhista em Olimpíadas Científicas nas áreas de Matemática, Física, Química, Astronomia e Oceanografia</strong>.' },
			{ 
				name:'Vinicius Canto Costa', age:'17 anos',
				school_label:'CM', school:'Colégio Militar RJ',
				avatar:'img/students/954806_466504960102039_1246814808_n.jpg',
				message: 'Gerado em Natal, nascido em Salvador, de pais cearenses, e morando no Rio, considero minha origem uma verdadeira mistura. Na minha vida, quero passar adiante todas as oportunidades que tive, como as olimpíadas matemáticas, por onde descobri meu talento pras ciências. Por isso, fundei o <strong>projeto FERMAT</strong>, que ensina matemática olímpica para alunos da rede pública. Ademais, <strong>sou fanático por línguas e culturas</strong>, e amo tocar violão, sempre que posso tocando nos cultos jovens na igreja em que frequento.' },
		]);

		for (var i=0; i<students.length; i++) {
			$('#students-slider .slides').append(_.template($('#slider-nav-templ').html(), _.extend(students[i], {id:i})));
			$('#slider-nav').append(_.template($('#slider-el-templ').html(),  _.extend(students[i], {id:i})));
		}

		var updateSlider = function (evt) {
			$("#slider-nav .student").removeClass('active');
			var id = $(".flex-active-slide div")[0].dataset.id;
			$("#slider-nav .student[data-id="+id+"]").addClass('active');
		}

		$('#students-slider .slides').parent().flexslider({
			animation: "slide",
			after: updateSlider, 
			start: updateSlider,
			manualControls: $("#slider-nav .student")
		});

		$(document).ready(function(){
			$('a[href^="#"]').on('click',function (e) {e.preventDefault(); var target = this.hash, $target = $(target); $('html, body').stop().animate({'scrollTop': $target.offset().top}, 900, 'swing', function () {window.location.hash = target;});});
		});
	</script>

</body>
</html>
